<!doctype html>
<html ng-app = "myModule">
<head>

</head>
<body>
  <div ng-controller="myCtrl">
    <input type="number" step="1" min="0" max="3" ng-model="rowLimit">
  <table>
    <thead>
    <tr><th>Name</th><th>Date of Birth</th><th>Gender</th><th>Currency(No filter)</th>
    <th>Currency(Currency filter)</th></tr></thead>
    <tbody>
      <tr ng-repeat="employee in employees | limitTo:rowLimit">
        <td>{{employee.name | uppercase}}</td>
        <td>{{employee.gender | lowercase}}</td>
        <td>{{employee.dateOfBirth | date:"dd/MM/yyyy"}}</td>
        <td>{{employee.salary |number:2}}</td>
        <td>{{employee.salary |currency}}</td>
      </tr>
    </tbody>
  </table>
</div>
<script src="scripts/angular.min.js"></script>
<script src="scripts/script.js"></script>
</body>
</html>
