<!doctype html>
<html ng-app = "myModule">
<head>

</head>
<body>
  <div ng-controller="myCtrl">
  <table>
    <thead>
    <tr><th>Subjects</th><th>Likes</th><th>Dislikes</th><th>Like/disliks</th></tr></thead>
    <tbody>
      <tr ng-repeat="subject in subjects">
        <td>{{subject.name}}</td><td>{{subject.likes}}</td><td>{{subject.dislikes}}</td>
        <td>
          <input type="button" value="likes" ng-click="incrementLikes(subject)">
          <input type="button" value="dislikes" ng-click="incrementDisikes(subject)">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script src="scripts/angular.min.js"></script>
<script src="scripts/script.js"></script>
</body>
</html>
